.app-container {
  width: 50%;
  margin: 0 auto;
}

.header-container {
  h1,
  p {
    text-align: center;
  }
}

.count-text {
  font-size: 40px;
  font-weight: 500;
}

.btn-container {
  display: flex;
  gap: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  align-items: center;
  justify-content: center;
  margin-top: 40px;

  button {
    width: 30%;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 800;
  }

  button:nth-child(1) {
    background-color: green;
    color: whitesmoke;
  }
  button:nth-child(2) {
    background-color: gray;
  }
  button:nth-child(3) {
    background-color: red;
    color: whitesmoke;
  }
}

@media (max-width: 768px) {
  .header-container {
    font-size: x-large;
  }
  .btn-container {
    display: flex;
    flex-direction: column;

    button {
      width: 100%;
    }
  }
}
