.weather-container {
  width: 400px;
  margin: 0 auto;
  text-align: center;

  input {
    padding: 10px;
    border-radius: 2px;
    font-size: medium;
  }
  button {
    padding: 12px;
    border-radius: 2px;
    margin-left: 5px;
    font-weight: 600;
    background-color: red;
    text-transform: uppercase;
    color: azure;
    cursor: pointer;
  }
}

.loading-state,
.error-state {
  text-align: center;
  margin-top: 50px;
  font-size: x-large;
  text-transform: uppercase;
  font-weight: bolder;
  color: red;
}

.weather-detail-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body {
  background-color: blanchedalmond;
}

p {
  font-size: x-large;
  span {
    font-weight: 600;
  }
}

@media (max-width: 425px) {
  .weather-detail-container {
    width: 320px;
    margin: 50px 35px;
  }
}
