.crypto-display {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.crypto-header {
  text-align: center;
  h1 {
    margin: 20px;
  }
}

.loading-container,
.error-container {
  text-align: center;
  margin: 20px;
  font-size: x-large;
  font-weight: 600;
  display: block;
}

.input-style {
  padding: 10px;
  font-size: larger;
  font-weight: bolder;
  width: 30%;
  border: 3px solid red;
  border-radius: 5px;
  color: aliceblue;
  outline: none;
}

input::placeholder {
  color: aliceblue;
  font-weight: 100;
  opacity: 0.8;
}

p {
  text-align: center;
  font-size: xx-large;
  text-transform: uppercase;
  font-weight: bolder;
}

.pagination {
  margin: 2.5rem;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .input-style {
    width: 80%;
  }
  .crypto-display {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .pagination {
    font-size: 0.8rem;
  }
}
